header {
    grid-area: header;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
}

body {
    display: grid;
    grid-template-columns: 1fr 120px 800px 120px 1fr;
    grid-template-rows: 120px auto auto auto 100px 100px;
    grid-template-areas: '. . header . .' '. . posters-title . .' '. posters posters posters .' '. . blog-title . .' '. . blog . .' '. footer footer footer .';
    grid-area: header;
    background-color: #dadada;
    font-family: 'Abel', sans-serif;
}

header > img {
    object-fit: cover;
    width: 100%;
    object-position: left top;
    height: 100%;
}

aside > input {
    margin-bottom: 10px;
}

aside {
    grid-area: 5 / 4 / 6 / 5;
}


h1 {
    margin-bottom: 20px;
    margin-top: 35px;
}

h3 {
    margin-bottom: 15px;
    margin-top: 3px;
}

section#blog {
    grid-area: blog;
}

dt {
    text-decoration: underline;
    float: left;
    clear: left;
    margin-right: 3px;
}

dd {
    margin-bottom: 5px;
    margin-top: 1px;
}

#posters-title {
    grid-area: posters-title;
}

h1#blog-title {
    grid-area: blog-title;
}

article {
    grid-area: 2 / 3 / 3 / 4;
}

/* --- GALLERY --- */

section#gallery {
    position: relative;
    grid-area: posters;
    background-color: #9d6969;
}

#poster-wrapper {
    grid-area: posters;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#poster-wrapper::-webkit-scrollbar {
    display: none;
}

.arrow-controls {
    z-index: 10;
    position: absolute;
    top: 25%;
    opacity: 0.6;
    cursor: pointer;
    font-size: 70px;
}

#arrow-left {
    right: 0px;
}

#arrow-right {
    left: 0px;
}

div.poster {
    background-color: #fffbfb;
    padding: 6px 10px;
    border: 1px solid #000000;
    border-radius: 11px;
    height: fit-content;
    margin: 5px;
    cursor: pointer;
    min-width: fit-content;
}

.person-name {
    font-weight: bold;
    color: #760505;
}

th.person-age {
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

tr.table-separator {
    border-top-width: 3px;
    border-top-style: solid;
    height: 10px;
}

table.place-time {
    margin-top: 10px;
    border-top-style: none;
}

/* --- BLOG --- */

ul.post-list {
    margin-top: 0px;
}

@font-face {
	font-family: 'Abel';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/Abel-Regular.ttf') format('truetype');
}
